COMPOSE_PROJECT_NAME=cbc
APP_PORT=8080

MYSQL_DATABASE=cbc
MYSQL_USER=cbc
MYSQL_PASSWORD=cbc
MYSQL_ROOT_PASSWORD=localroot

WP_DB_NAME=cbc
WP_DB_USER=cbc
WP_DB_PASSWORD=cbc
WP_DB_HOST=db:3306
WORDPRESS_TABLE_PREFIX=cbc_

WP_HOME=http://localhost:8080
WP_SITEURL=http://localhost:8080
LIVE_SITE_URL=https://christbiblechurch.in

WP_ENV=local
WP_DEBUG=1
WP_DEBUG_LOG=1
WP_DEBUG_DISPLAY=0

LOCAL_ADMIN_USER=localadmin
LOCAL_ADMIN_EMAIL=localadmin@example.test
LOCAL_ADMIN_PASSWORD=localpass123
